@model IEnumerable<Lab11_MYSELF.Models.Weapon>

@{
    Layout = null;
}

@{
    ViewBag.Title = "Index2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeaponStorage</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">WeaponStorage</div>

    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdWeapon }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdWeapon }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdWeapon })
                </td>
            </tr>
        }

    </table>
    <div class="create">
        @Html.ActionLink("Create new Weapon", "Create", new { })
    </div>
</body>
</html>
